*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
   
}
.logo{
    background-image: url("./Images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border :hover{
    border:1.5 px solid white;
}
/* box2 */
.addres_first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address_sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add_icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav_search{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: pink;
    width: 620px;
     height: 40px; 
    border-radius: 4px;
}
.search_select{
    background-color: #f3f3f3;
     width: 50px;
    text-align: center; 
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px; 
    border:none; 
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
     background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    color:#0f1111
}
.nav_search:hover{
    border: 2px solid orange;
}

span{
    font-size: 0.7rem;
}
.nav_sec{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_cart i {
    font-size: 35px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* pannel */
.pannel {
    height: 48px;
    background-color:#222f3d ;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
 
.pannel_ops p {
    display: inline;
    margin-left: 10px;
}
.pannel_ops {
    width: 70%;
    font-size: 0.85rem;
}
.pannel_deals {
    font-size: 0.9rem;
    width:700 ;
}
.hero_section {
    background-image: url("./Images/hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}
.hero_msg {
    background-color: white;
    color:black;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem ;
    width: 80%;
    margin-bottom: 25px ;
}
.hero_msg a{
    color:#007185;
    text-decoration: none;
}
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;
    
}

.box{
     /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px ;
    
     
}
.box_img{
    height: 300px;
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boc_content p{
    color:#007185;
}
footer{
    margin-top: 15px;
}

.foot_pannel1{
        background-color: #37475a;
        color:white;
        align-items: center;
        justify-content: center;
        height: 50px;
        display: flex;
        font-size:0.85rem ;
}
.foot_pannel2{
    background-color: #222f3d;
    color:white;
    height:300px ;
    display: flex;
    justify-content:space-evenly  ;
}ul{
    margin-top: 20px;
}    

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}


.foot_pannel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("./Images/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.foot_pannel4{
    background-color: #222f3d;
    color:white;
    height:88px ; 
    font-size: 0.7rem;
    text-align: center;
   
}
.pages{
   
    padding-top: 25px;
}

.copyright{
    padding-top:5px ;
}